You've reached <b class=b1>$bmrkt[bm_name]'s</b> Blackmarket";

".<br>We have all the gadgets you could possibly want. From Starships, to surveillence technology - All strictly illegal, of course.<br>";

"<br><a href=bm_ships.php?from_0=1>Advanced Ships and Alien Starships</a>";
"<br><a href=bm_upgrades.php?from_0=1>Blackmarket Upgrades and Alien Devices</a>";
"<p><a href=location.php>Close Contact</a><br>";
"<p><a href=black_market.php>Return to Blackmarket</a>";
"<p><a href=location.php>Close Contact</a>";
#Blackmarket Controls
"Blackmarket","You may not contact a blackmarket that is not in the same system as you are in. Stop playing with the URL's'","?research=1");
"Error","Admin in his/her near infinite wisdom has disabled the Blackmarket","?research=1");
#Beginning of Blackmarket ship purchase
"Error","That ships is not available for purchase at this time.","?research=1");
//begin ship checks
"Flagship","You may only own one <b>Flagship</b> class ship at a time.");
"You already own <b>$numships[0]</b> ship(s). The admin has set the max number of ships players may have. The limit is <b>$max_ships</b>.";
"You may not buy this ship type.";
"You can't afford a <b class=b1>$ship_stats[name]</b>.";
"You don't have enough Tech. Support Units for a <b class=b1>$ship_stats[name]</b>.";
"<p><a href=bm_ships.php>Return to Blackmarket Ships</a>";
get_var('Name your new ship','bm_ships.php',"Your fleet presently consists of <b>$num_ships[total_ships]</b> ships.<br>Please enter a name for your new <b class=b1>$ship_stats[name]</b>:(20 Char Max)",'ship_name','');
// remove old escape pods
// build the new ship
#the game goes all screwy if a player get's hold of ship_id 1.
"<p>A word of warning: You may only own one Flagship class ship at a time.<br>Also, each Flagship class ship you buy will be twice as expensive as the last time.<br>This is a galactic consensus to help keep them out of the hands of reckless types.";
"<br><p>Your payment of <b>$ship_stats[cost]</b> Credits and <b>$ship_stats[tcost]</b> Tech. Support Units has been accepted, and your <b>$ship_stats[name]</b> has been delivered.<br>";
"<p>May your new <b>$ship_stats[name]</b> bring you strength and your enemies' ruin!".$oo_str;
"Blackmarket Ship Purchased",$error_str);
"Blackmarket Ships");
"<p>Welcome to <b>Reilly's Shipbuilders</b>, a division of <b class=b1>$bmrkt[bm_name]'s</b> Blackmarket.";
"<br><p>If it's cutting edge ships you want, you've found the right place.<br>";
#list all alient ships.
"<p>Available Blackmarket Ships:";
//skip non-tech ships.
 "<a href=bm_ships.php?mass=$ship_stats[type_id]>Buy Many</a>";
"<a href=bm_ships.php?ship_type=$ship_stats[type_id]>$ship_stats[name]</a>", "$ship_stats[class_abbr]", "<b>$ship_stats[cost]</b>", "<b>$ship_stats[tcost]</b>", "<a href=bm_ships.php?ship_type=$ship_stats[type_id]>Buy One</a>", $ab_text, popup_help("ship_info=1&shipno=$ship_stats[type_id]",300,400)));
"<p>There are no ships avaiable from this blackmarket at this time.";
"<p>{$classs available:";
"<br><b>None</b>";
"Ship Name","Abbrv.","Credit Cost","Tech Unit Cost"));
"</table>";
#Blackmarket Ships
"<p><a href=help.php?ship_info=-1&shipno=-2 target=_blank>List all information for all Blackmarket ships.</a>";

"Access Denied","You are not in system #1."
commission = 7
<h1>The Charity Shop</h1>
<p>Welcome to our humble abode, we offer a variety of services including
benevolence funds (bounties).</p>
<p>We charge a measly <strong>commission% commission</strong>, but I am sure
that you will find that our service is fairly <em>efficient</em>.</p>

"Bounty","You do not have enough money to place that bounty."
"Bounty","You may not place a bounty on yourself."
"Bounty","You may not place a bounty on a clan-mate."
"Bounty","You may not place a bounty on the Admin."
"Bounty","You may not place a bounty during the first <b>turns_before_attack</b> turns of your account's existence. This is because placing a bounty is a form of attack."
"Bounty","Negative sums can not be placed for bounties."
"Bounty","You didn't state an amount to place on targets head."
"You have added <b>initial</b> Credits to <b class=b1>'s</b> bounty, making the present bounty <b>returned[0]</b>. You were charged <b>amount</b> Credit(s) for the transaction.<p>"
"You have placed <b>initial</b> Credits on <b class=b1>'s</b> head. You were charged <b>amount</b> Credit(s) for the transaction.<p>"
"You do not have enough turns to add the message, but rest assured, the bounty has been added non-the-less."
"<br>You have also been charged 1 turn for the additional message."
"Bounty","You have no money. how do you expect to pay off a bounty?"

"<option value=list_em[login_id]>login_name - bount"
"There is no-one you may pay a bounty off for.<br>It is only possible to pay off a clan mates bounty."
"<FORM action=bounty.php>"
"Select Player whose bounty you wish to pay off.<br>You may only pay off a fellow clan mates bounty.<br>You will pay an extra <b>commission</b>% on top of the original bounty if you pay it off.<p>"
"You <b class=b1>must</b> pay off the whole bounty at once.<p>"
"<select name=payoff>"
"</select>"
"<p><INPUT type=submit value=Submit></form><p>"

"Bounty","You do not have enough money. You require <b>bount</b> to pay this bounty off."
"Bounty","The admin may have nothing to do with bounties."
Bounty Payoff : Are you sure you want to spend <b>bount</b> credits to get rid of the bounty on <b class=b1>topay[login_name]</b>?",'sure','yes'
"You have paid off the bounty on <b class=b1>login_name</b>, at a cost of <b>bount</b> Credits.<p>"
"Bounty","You may not pay-off a bounty on anyone, other than yourself, or a clan-mate."
<ul>
<li><a href="bounty.php?place=1">Place a bounty</a></li>
<li><a href="bounty.php?payoff=-1">Payoff a bounty</a></li>
</ul>

"Bounty","You may not place a bounty during the first <b>turns_before_attack</b> turns of your accounts' existence. This is because placing a bounty is a form of attack."
<h2>Place a bounty</h2>
<form action="bounty.php" method="post" name="bounty_form">
<p><select name="target">

"\t\t<option value="">login_name</option>\n"
</select> Who you want to <em>donate</em> to</p>
<p><input type="text" name="amount" size="10" /> Amount of credits</p>
<p><input type="submit" value="Submit" />
<h3>Anonymous message</h3>
<p>If you like you can also attach a anonymous message with the bounty.
This service costs just one turn.</p>
<p><textarea name="bount_mess" value="var_bount" cols="50" rows="20"></textarea></p>
</form>

"</table><br>"
